.Header {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
}

.Nav {
  display: flex;
}

#logo {
  margin: 0 400px 0 0;
}

.Nav img {
  width: 150px;
  
}

.Nav ul {
  display: flex;
  align-items: center;
}

.Nav li {
  list-style: none;
}

.Nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-right: 25px;
  color: #424242;
  transition: 0.3s;
}

.Nav a:hover {
  color: #3BBED7;
  transition: 0.5s;
  text-decoration: none;
}

.Nav a:focus {
  color: #3BBED7;
}

.Body {
  display: flex;
  justify-content: center;
  color: #424242;
  margin: 25px 0 0 0;
}

